.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-color: white;
  -webkit-box-shadow: 0 2px 2px #efefef;
          box-shadow: 0 2px 2px #efefef;

  @media (min-width: $desktop-breakpoint) {
    height: 10vh;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: $med-size;

  @media (min-width: $desktop-breakpoint) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav__menu ul {
  padding-left: none;
}

.nav__item a {
  text-decoration: none;
  color: $font-color;
  text-transform: uppercase;
  cursor: pointer;
  padding: $s-size 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  @media (min-width: $desktop-breakpoint) {
    margin: $s-size;
  }
}

.nav__item a:hover {
  color: $brand-color;
  border-bottom: 2px solid $brand-color;
}

.nav__brand a {
  display: block;
  text-decoration: none;
  color: $brand-color;
  font-size: $lg-size;
  cursor: pointer;
  margin-bottom: $med-size;

  @media (min-width: $desktop-breakpoint) {
    font-size: $lg-size;
    margin-bottom: 0;
  }
}
