// Colors
$font-color: #666;
$light-grey: #f7f7f7;
$brand-color: #913d88;

//sizes
$med-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;
$desktop-breakpoint: 50rem;

//font sizes
$title-size: 4rem;
$subtitle-size: 2.8rem;
$p-size: 1.8rem;